<div id="menu">
  <div class="links group1">

    <a href="{{ site.baseurl }}/hello_html" {% if page.dir == "/hello_html/" %}class="selected" {% endif %}>
      Hello, HTML!</a>

    <a href="{{ site.baseurl }}/hello" {% if page.dir == "/hello/" %}class="selected" {% endif %}>
      Hello, World!</a>

    <a href="{{ site.baseurl }}/bounce" {% if page.dir == "/bounce/" %}class="selected" {% endif %}>
      Bounce</a>

    <a href="{{ site.baseurl }}/image" {% if page.dir == "/image/" %}class="selected" {% endif %}>
      Image</a>

    <a href="{{ site.baseurl }}/image2" {% if page.dir == "/image2/" %}class="selected" {% endif %}>
      Image 2</a>

    <a href="{{ site.baseurl }}/3D" {% if page.dir == "/3D/" %}class="selected" {% endif %}>
      3D</a>

    <a href="{{ site.baseurl }}/surfaces" {% if page.dir == "/surfaces/" %}class="selected" {% endif %}>
      Surfaces</a>

    <a href="{{ site.baseurl }}/face_tracking" {% if page.dir == "/face_tracking/" %}class="selected" {% endif %}>
      Face Tracking</a>


  </div>

  <div class="links group2">
  </div>

  <div class="links group3">
  </div>

</div>
