<div id="menu">
  <div class="links group1">

    <a href="{{ site.url }}/hello" {% if page.dir == "/hello/" %}class="selected" {% endif %}>
      Hello, World!</a>

    <a href="{{ site.url }}/bounce" {% if page.dir == "/bounce/" %}class="selected" {% endif %}>
      Bounce</a>

    <a href="{{ site.url }}/image" {% if page.dir == "/image/" %}class="selected" {% endif %}>
      Image</a>

    <a href="{{ site.url }}/3D" {% if page.dir == "/3D/" %}class="selected" {% endif %}>
      3D</a>

  </div>

  <div class="links group2">
  </div>

  <div class="links group3">
  </div>

</div>
